.input {
	padding: .25rem .75rem;
	border: none;
	border-bottom: 1px solid grey;

	@include fs(20px);
	@include transition(all .3s ease);

	&:hover {
		background: $primary-color--30;
	}

	&:focus,
	&:active {
		outline: none;
	}
}

::-webkit-input-placeholder {
	@include fs(16px);
	text-align: center;
}

::-moz-placeholder {
	@include fs(16px);
	text-align: center;
}

:-ms-input-placeholder {
	@include fs(16px);
	text-align: center;
}

input:-moz-placeholder { 
	@include fs(16px);
	text-align: center;
}